:root {
    --fundo-principal: #1E1E24;
    --fundo-texto: #2A2A32;
    --branco: #FFFFFF;
    --borda: #4A4A5A;
}

body {
    background-color: var(--fundo-principal);
    color: var(--branco);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.cabecalho__imagem {
    width: 50px;
    height: auto;
}

.parametro-senha__controle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.parametro-senha__botao {
    background-color: var(--fundo-texto);
    color: var(--branco);
    border: 2px solid var(--borda);
    padding: 24px;
    font-size: 24px;
    cursor: pointer;
}

.parametro-senha__texto {
    padding: 24px;
    border-top: 2px solid var(--borda);
    border-bottom: 2px solid var(--borda);
    margin: 0;
    font-size: 24px;
}
